{{ define "headMain" }}
{{ $markdownStyle := resources.Get "scss/markdown.scss" | css.Sass | resources.Minify}}
<link rel="stylesheet" href="{{$markdownStyle.Permalink}}">

{{ $eventsStyle := resources.Get "scss/events.scss" | css.Sass | resources.Minify}}
<link rel="stylesheet" href="{{$eventsStyle.Permalink}}">
{{end}}

{{ define "bodyMain" }}

<div class="eventCard unstyledDiv">
    <div class="unstyledDiv" style="height: fit-content; width: calc(100% - min(30vw, 150px));">
        {{(replaceRE `(?m)^ +` "" `
        ## Solo Drama

        **Event Type**: *Solo Competition*

        **Medium**: *Bangla and English*

        **Time Limit**: *3 minutes per performance*

        **Task**: A single performer will narrate and embody the drama, either by portraying multiple characters or
        delivering the entire message through a singular character, ensuring a cohesive storyline.

        **Judging**: *The judges will select the top three performers.*`)
        | markdownify}}
    </div>

    <div class="imageDiv unstyledDiv">
        <img src='{{ (resources.Get "images/posterartwork/solodrama.png").Permalink }}'>
    </div>
</div>

<div class="eventCard unstyledDiv">
    <div class="unstyledDiv" style="height: fit-content; width: calc(100% - min(30vw, 150px));">
        {{(replaceRE `(?m)^ +` "" `
        ## Group Drama

        **Event Type**: *Group Competition*

        **Medium**: *Bangla and English*

        **Time Limit**: *10 minutes per performance*

        **Task**: Each group, consisting of up to 15 members, will perform a drama of any genre. While acting roles are
        encouraged, non-acting members may contribute as directors, prop designers, or in other supportive roles.

        **Judging**: *The panel of judges will select the top three groups.*
        `)
        | markdownify}}
    </div>

    <div class="imageDiv unstyledDiv">
        <img src='{{ (resources.Get "images/posterartwork/groupdrama.png").Permalink }}'>
    </div>
</div>

<div class="eventCard unstyledDiv">
    <div class="unstyledDiv description" style="height: fit-content; width: calc(100% - min(30vw, 150px));">
        {{(replaceRE `(?m)^ +` "" `
        ## Poetry

        **Event Type**: *Solo Competition*

        **Medium**: *Bangla and English*

        **Time Limit**: *3 minutes per performance*

        **Task**: Participants will recite a poem or an excerpt, which may be self-composed or authored by another poet.

        **Judging**: *The top three participants will be awarded prizes.*
        `)
        | markdownify}}
    </div>

    <div class="twoImages imageDiv unstyledDiv">
        <img class="img1" src='{{ (resources.Get "images/posterartwork/englishpoetry.png").Permalink }}'>
        <img class="img2" src='{{ (resources.Get "images/posterartwork/banglapoetry.png").Permalink }}'>
    </div>
</div>

<div class="eventCard unstyledDiv">
    <div class="unstyledDiv" style="height: fit-content; width: calc(100% - min(30vw, 150px));">
        {{(replaceRE `(?m)^ +` "" `
        ## Script Writing

        **Event Type**: *Solo Competition*

        **Medium**: *English*

        **Deadline**: *April 24, 2025*

        **Task**: Participants must submit an original drama script that includes both dialogue and stage directions.
        Submissions will be accepted starting a week before the Fest.

        **Judging**: *The top five scriptwriters will be recognized with awards.*
        `)
        | markdownify}}
    </div>

    <div class="imageDiv unstyledDiv">
        <img src='{{ (resources.Get "images/posterartwork/scriptwriting.png").Permalink }}'>
    </div>
</div>

<div class="eventCard unstyledDiv">
    <div class="unstyledDiv" style="height: fit-content; width: calc(100% - min(30vw, 150px));">
        {{(replaceRE `(?m)^ +` "" `
        ## Folk Music Competition


        **Event Type**: *Solo and Group Competition*

        **Medium**: *Bangla and English*

        **Time Limit**: *3 minutes for solo performances, 5 minutes for group performances*

        **Task**: Contestants will perform a folk song, with the option to incorporate musical instruments.

        **Judging**: *Top three performances in both solo and group categories will receive prizes.*
        `)
        | markdownify}}
    </div>

    <div class="imageDiv unstyledDiv">
        <img src='{{ (resources.Get "images/posterartwork/folkmusic.png").Permalink }}'>
    </div>
</div>

<div class="eventCard unstyledDiv">
    <div class="unstyledDiv" style="height: fit-content; width: calc(100% - min(30vw, 150px));">
        {{(replaceRE `(?m)^ +` "" `
        ## Wall Magazine

        **Event Type**: *Group Competition*

        **Medium**: *English*

        **Deadline**: *April 25, 2025*

        **Theme**: LIT Fest


        **Task**: Students will create and submit a wall magazine following a designated theme. Each submission must
        include a title.

        **Judging**: *The top three submissions will be awarded prizes.*
        `)
        | markdownify}}
    </div>

    <div class="imageDiv unstyledDiv">
        <img src='{{ (resources.Get "images/posterartwork/wallmagazine.png").Permalink }}'>
    </div>
</div>

<div class="eventCard unstyledDiv">
    <div class="unstyledDiv" style="height: fit-content; width: calc(100% - min(30vw, 150px));">
        {{(replaceRE `(?m)^ +` "" `
        ## Picture Perception and Discussion

        **Event Type**: *Solo Competition*

        **Task**: Participants will be shown a blurred picture and will then deduce a story from it by discussing it
        with their assigned team.

        **Judging**: *Winners will be determined based on leadership qualities and communication skills rather than the
        best story.*
        `)
        | markdownify}}
    </div>

    <div class="imageDiv unstyledDiv">
        <img src='{{ (resources.Get "images/posterartwork/pictureperception.png").Permalink }}'>
    </div>
</div>

<div class="eventCard unstyledDiv">
    <div class="unstyledDiv" style="height: fit-content; width: calc(100% - min(30vw, 150px));">
        {{(replaceRE `(?m)^ +` "" `
        ## Voice-Over Challenge

        **Event Type**: *Solo and Group Competition*

        **Medium**: *English*

        **Time Limit**: *2 minutes per performance*

        **Task**: Participants will submit a silent video of their choice before the competition. On the event day, they
        will perform a live voice-over, integrating their own dialogue and sound effects.

        **Judging**: *The audience will vote to determine the winners.*
        `)
        | markdownify}}
    </div>

    <div class="imageDiv unstyledDiv">
        <img src='{{ (resources.Get "images/posterartwork/voiceover.png").Permalink }}'>
    </div>
</div>

<div class="eventCard unstyledDiv">
    <div class="unstyledDiv" style="height: fit-content; width: calc(100% - min(30vw, 150px));">
        {{(replaceRE `(?m)^ +` "" `
        ## Unpopular Opinion

        **Event Type**: *Solo Competition*

        **Medium**: *English*

        **Task**: Participants will present and defend a controversial or stigmatized opinion persuasively.

        **Time Limit**: *2 minutes per performance*

        **Judging**: *The best speakers, who effectively articulate their viewpoints in a civil and compelling manner,
        will win prizes.*
        `)
        | markdownify}}
    </div>

    <div class="imageDiv unstyledDiv">
        <img src='{{ (resources.Get "images/posterartwork/unpopularopinion.png").Permalink }}'>
    </div>
</div>

<div class="eventCard unstyledDiv">
    <div class="unstyledDiv" style="height: fit-content; width: calc(100% - min(30vw, 150px));">
        {{(replaceRE `(?m)^ +` "" `
        ## Rant and Rave

        **Event Type**: *Solo Competition*

        **Medium**: *English*

        **Time Limit**: *2 minutes per performance*

        **Task**: One participant will argue in favor of a prompt, while another will argue against it.

        **Judging**: *The most skilled debaters will be named winners.*
        `)
        | markdownify}}
    </div>

    <div class="imageDiv unstyledDiv">
        <img src='{{ (resources.Get "images/posterartwork/rantandrave.png").Permalink }}'>
    </div>
</div>

<div class="eventCard unstyledDiv">
    <div class="unstyledDiv" style="height: fit-content; width: calc(100% - min(30vw, 150px));">
        {{(replaceRE `(?m)^ +` "" `
        ## Speech in Character

        **Event Type**: *Solo Competition*

        **Time Limit**: *3 minutes per performance*

        **Task**: Participants will deliver a speech on any topic from the perspective of a fictional or historical
        figure.

        **Judging**: *The most compelling speakers will receive prizes.*
        `)
        | markdownify}}
    </div>

    <div class="imageDiv unstyledDiv">
        <img src='{{ (resources.Get "images/posterartwork/speechincharacter.png").Permalink }}'>
    </div>
</div>

<div class="eventCard unstyledDiv">
    <div class="unstyledDiv" style="height: fit-content; width: calc(100% - min(30vw, 150px));">
        {{(replaceRE `(?m)^ +` "" `
        ## Unsolved Mystery

        **Event Type**: *Group Competition*

        **Medium**: *English*

        **Time Limit**: *40 minutes*

        **Task**: Teams will navigate a campus-wide clue trail, solving riddles and deciphering cryptic messages in
        pursuit of hidden treasures.

        **Judging**: *The team that locates the hidden treasure the fastest will be declared the winner.*
        `)
        | markdownify}}
    </div>

    <div class="imageDiv unstyledDiv">
        <img src='{{ (resources.Get "images/posterartwork/unsolvedmystery.png").Permalink }}'>
    </div>
</div>

{{end}}
