{{ define "headMain"}}
{{ $registrationStyle := resources.Get "scss/registration.scss" | css.Sass | resources.Minify}}
<link rel="stylesheet" href="{{$registrationStyle.Permalink}}">
{{end}}
{{ define "bodyMain" }}
<h1> {{ .Title }} </h1>
{{ .Content }}
<div class="form" id="form">
    <iframe id="embed" class="embed"
        src="https://docs.google.com/forms/d/e/1FAIpQLScLwFsUwCtjqoCS0UIVZrD5sfldFWsqJmB6-1kciUlDqcrxNQ/viewform?embedded=true&hl=en"
        frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

    <script>
        var embed = document.getElementById("embed");
        var form = document.getElementById("form");

        function resizeEmbed() {
            let embedSize = form.getBoundingClientRect();

            embed.height = embedSize.height;
            embed.width = embedSize.width;

            console.log("SDKJFSHDFLSDF");
        }

        resizeEmbed();

        document.onload = resizeEmbed;
        window.addEventListener("resize", resizeEmbed);
    </script>
</div>
{{end}}
