@import 'variables.scss';

main {
    gap: $Normal-Spacing * 3;
}

.unstyledDiv {
    padding: 0;
}

.eventCard {
    height: fit-content;
    max-height: 75vmax;
    overflow: hidden;
    width: 100%;
    background-color: $Light-Background;
    outline: 1px solid $Dark-Background;
    display: flex;
    flex-direction: row;

    border-radius: $Radius-Normal;

    align-items: center;

    justify-content: space-between;

    .imageDiv {
        padding: $Normal-Spacing * 3;
        aspect-ratio: 4/5;

        max-width: 25%;
        max-height: 350px;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            border-radius: $Radius-Normal / 2;
            outline: 1px solid $Dark-Background;
            max-width: 100%;
            aspect-ratio: 4/5;
            max-height: 85%;
        }
    }

    .description {
        flex: 1;
    }

    .twoImages {
        position: relative;
        aspect-ratio: 4/5;

        width: 25%;
        max-height: 350px;

        img {
            position: absolute;

            border-radius: $Radius-Normal / 2;
            outline: 1px solid $Dark-Background;
            max-width: calc(65% - (#{$Normal-Spacing} * 6));
            aspect-ratio: 4/5;
            max-height: calc(65% - (#{$Normal-Spacing} * 6));
        }

        .img2 {
            bottom: $Normal-Spacing * 6;
            right: $Normal-Spacing * 6;
        }

        .img1 {
            position: absolute;

            top: $Normal-Spacing * 6;
            right: $Normal-Spacing * 6;
            transform: translate(-50%, 0);

            border-radius: $Radius-Normal / 2;
            outline: 1px solid $Dark-Background;
            max-width: calc(65% - (#{$Normal-Spacing} * 6));
            aspect-ratio: 4/5;
            max-height: calc(65% - (#{$Normal-Spacing} * 6));
        }
    }
}
