@import 'variables.scss';

.maps {
    background-color: $Light-Background;
    outline: $Dark-Background 1px solid;
    flex: 1;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
}

.embed {
    width: 100%;
    height: 100%;
}

.linktoregister {
    color: $Light-White-Text;
    border-radius: $Radius-Normal * 3;
    text-decoration: none;
    width: fit-content;
    align-self: center;
    padding: calc(#{$Padding-Normal} * 2);
    background-color: $Light-Accent;

    font-size: $Large-Font-Size;

    transition: $Normal-Timing;

    &:hover {
        background-color: $Normal-Secondary;
    }
}
