@import 'variables';

// Mixins

@mixin Padding-Verticle($pad) {
    padding-left: $pad;
    padding-right: $pad;
}

// General

html,
body {
    background-color: $Normal-Background;
    color: $Normal-Black-Text;
    font-family: "Kanit", sans-serif;
    font-size: $Normal-Font-Size;
    margin: 0;
    width: 100vw;
    overflow-x: clip;
}

main {
    margin: auto;
    padding: calc(#{$Padding-Normal} * 5);
    max-width: 1200px;
    @include Padding-Verticle(calc(#{$Padding-Normal} * 8));
}

// Navbar
.navbar {
    background-color: $Normal-Accent;
    font-family: 'Merriweather';
    height: calc(#{$Large-Font-Size} * 2.5);
    box-sizing: border-box;
    padding: $Padding-Normal;
    width: 100%;
    box-sizing: border-box;
    font-weight: 750;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    color: $Light-White-Text;
    gap: $Padding-Normal;
    align-items: center;

    @include Padding-Verticle(calc(#{$Padding-Normal}* 4));

    img {
        max-height: 100%;
    }

    div {
        height: 10075;
        display: flex;
        align-items: center;
    }

    a {
        color: $Light-White-Text;
        border-radius: $Radius-Normal;
        text-decoration: none;
        padding: $Padding-Normal;
        @include Padding-Verticle(calc(#{$Padding-Normal}* 2));
        background-color: $Light-Accent;


        transition: $Normal-Timing;

        &:hover {
            background-color: $Normal-Secondary;
        }
    }

    span {
        display: flex;
        text-wrap: nowrap;
        align-items: center;
        font-size: $Large-Font-Size;

        a {
            background-color: $Normal-Accent;

            &:hover {
                background-color: $Normal-Accent;
            }
        }
    }

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navoptions {
    font-size: calc(#{Large-Font-Size} / 1.5);
    font-family: "Kanit";
    font-weight: 400;
    gap: calc(#{$Padding-Normal}* 2);
    display: flex;
}


.navDropDownButton {
    display: none;
    height: calc(#{$Padding-Normal} * 8);

    background-color: $Light-Accent;
    border-radius: $Radius-Normal;

    transition: $Normal-Timing;

    &:has(input:checked) {
        transition: $Normal-Timing;
        background-color: $Normal-Red;

        &:hover {
            background-color: $Dark-Secondary;
        }
    }

    &:hover {
        background-color: $Normal-Secondary;
    }

    input {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .navbar {
        .navoptions {
            position: absolute;
            top: calc(#{$Large-Font-Size} * 2.5);
            right: -100%;

            border-radius: 0 0 0 $Radius-Normal*2;

            padding: $Padding-Normal calc(#{$Padding-Normal}*4) calc(#{$Padding-Normal}*4) 0;
            flex-direction: column;



            height: fit-content;
            width: fit-content;
            background-color: $Normal-Accent;

            a {
                text-align: center;
                width: 100%;
            }
        }
    }

    .navDropDownButton {
        display: flex;
    }

    .navDropDownButton:has(input:checked)+.navoptions {
        right: 0;
    }
}

// Markdown
h1 {
    font-family: 'Merriweather';
    font-size: $Large-Font-Size;
}

li::marker {
    color: $Dark-Background;
    font-size: $Normal-Font-Size / 0.75;
}

ol {
    gap: $Padding-Normal;
    display: flex;
    padding-left: calc(#{$Normal-Font-Size} * 4);
    flex-direction: column;
}

li {
    padding-bottom: $Padding-Normal;
    border-bottom: 1px dotted $Dark-Background;
}

li:last-of-type {
    padding-bottom: 0;
    border-bottom: 0;
}
