@import 'variables';

// Mixins

@mixin Padding-Verticle($pad) {
    padding-left: $pad;
    padding-right: $pad;
}

// General

html,
body {
    background-color: $Normal-Background;
    color: $Normal-Black-Text;
    font-family: "Kanit", sans-serif;
    font-size: $Normal-Font-Size;
    margin: 0;
    width: 100vw;
    overflow-x: clip;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.noticeHeader {
    margin: 0;
    text-align: center;
    background-color: $Light-Accent;
    color: $Light-White-Text;
    text-shadow: $Normal-Secondary 0px 0px 4px;
}

main {
    margin: auto;
    margin-top: 0;
    box-sizing: border-box;
    padding: calc(#{$Padding-Normal} * 4);
    width: 100%;
    @include Padding-Verticle(calc(#{$Padding-Normal} * 8));
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

// Navbar
.navbar {
    background-color: $Normal-Accent;
    font-family: 'Merriweather';
    height: calc(#{$Large-Font-Size} * 2.5);
    box-sizing: border-box;
    padding: $Padding-Normal;
    width: 100%;
    box-sizing: border-box;
    font-weight: 750;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    color: $Light-White-Text;
    gap: $Padding-Normal;
    align-items: center;

    @include Padding-Verticle(calc(#{$Padding-Normal}* 4));

    img {
        max-height: 100%;
    }

    div {
        display: flex;
        align-items: center;
    }

    a {
        color: $Light-White-Text;
        border-radius: $Radius-Normal;
        text-decoration: none;
        padding: $Padding-Normal;
        @include Padding-Verticle(calc(#{$Padding-Normal}* 2));
        background-color: $Light-Accent;


        transition: $Normal-Timing;

        &:hover {
            background-color: $Normal-Secondary;
        }
    }

    .eventsButton {
        background-color: $Normal-Red;
    }

    .festButton {
        background-color: $Normal-Yellow;
    }

    .registrationButton {
        background-color: $Normal-Magenta;
    }

    span {
        display: flex;
        text-wrap: nowrap;
        align-items: center;
        font-size: $Large-Font-Size;

        a {
            background-color: $Normal-Accent;

            &:hover {
                background-color: $Normal-Accent;
            }
        }
    }

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navoptionsarea {
    display: flex;
    flex-direction: row;
    gap: $Normal-Spacing*2;
}

.navoptions {
    font-size: calc(#{Large-Font-Size} / 1.5);
    font-family: "Kanit";
    font-weight: 400;
    display: flex;

    a {
        border-radius: 0;
        border-right: 2px solid $Normal-Accent;
    }

    a:first-of-type {
        border-radius: $Radius-Normal 0 0 $Radius-Normal;
    }

    a:last-of-type {
        border-radius: 0 $Radius-Normal $Radius-Normal 0;
        border-right: 0;
    }

    a:only-child {
        border-radius: $Radius-Normal;
    }
}

@media screen and (max-width: 850px) {
    .navbar {
        flex-direction: column;
        height: fit-content;
        padding: calc(#{$Padding-Normal} * 2);

        .navoptions {
            width: 100%;
            justify-content: center;
        }
    }
}

// Markdown
h1,
h2,
h3 {
    font-family: 'Merriweather';
}

h1 {
    font-size: $Large-Font-Size;
}

li::marker {
    color: $Dark-Background;
    font-size: $Normal-Font-Size / 0.75;
}

ol {
    gap: $Padding-Normal;
    display: flex;
    padding-left: calc(#{$Normal-Font-Size} * 4);
    flex-direction: column;
}

li {
    padding-bottom: $Padding-Normal;
    border-bottom: 1px dotted $Dark-Background;
}

li:last-of-type {
    padding-bottom: 0;
    border-bottom: 0;
}

main>h1 {
    font-size: calc(#{$Large-Font-Size} * 1.5);
    border-bottom: 1px dotted $Dark-Background;
}

main p {
    padding-left: calc(#{$Normal-Font-Size} * 2);
}

main h2 {
    padding-left: $Normal-Font-Size;
}

main div {
    padding-left: $Normal-Font-Size;
}

hr {
    width: 100%;
    border: none;
    border-bottom: 1px dotted $Dark-Background;
}

strong {
    color: $Dark-Accent;
}

em {
    color: $Dark-Secondary;
}

// Footer

footer {
    border-top: 1px dotted $Dark-Background;

    text-align: center;
    bottom: 0;
    font-size: calc(#{$Normal-Font-Size} / 1.25);

    color: $Dark-Background;

    p {
        color: $Dark-Background;
        margin: 0;
    }

    a {
        color: $Dark-Background;
    }

    box-sizing: border-box;

    padding-top: calc(#{$Padding-Normal} * 8);
    padding-bottom: calc(#{$Padding-Normal} * 8);

    margin-right: calc(#{$Padding-Normal} * 8);
    margin-left: calc(#{$Padding-Normal} * 8);
}
