@import 'variables.scss';

main {
    display: flex;
    flex-direction: column;

    gap: $Normal-Spacing * 3;
}

.form {
    background-color: $Light-Background;
    outline: $Dark-Background 1px solid;
    display: block;
    width: 100%;
    min-height: 50vh;
    max-height: 100vh;
    height: 50vmax;
    flex: 1;
    padding: 0;
}

.embed {
    width: 100%;
    max-height: 100%;
}

.linktoform {
    color: $Light-White-Text;
    border-radius: $Radius-Normal;
    text-decoration: none;
    padding: $Padding-Normal;
    background-color: $Light-Accent;


    transition: $Normal-Timing;

    &:hover {
        background-color: $Normal-Secondary;
    }
}
