@import 'variables.scss';

main {
    display: flex;
    flex-direction: column;
}

.form {
    background-color: $Light-Background;
    outline: $Dark-Background 1px solid;
    display: block;
    min-height: 50vh;
    height: 100%;
    width: 100%;
    padding: 0;
}

.embed {
    width: 100%;
    height: 100%;
}
