$Normal-Accent: #012fcc;
$Light-Accent: #3771ff;
$Dark-Accent: #001b83;

$Normal-Background: #ffe5e5;
$Light-Background: #c7b3b2;
$Dark-Background: #786b6a;

$Normal-Secondary: #19c800;
$Light-Secondary: #23ff00;
$Dark-Secondary: #0b7900;

$Normal-Black-Text: #272730;
$Light-Black-Text: #656578;
$Dark-Black-Text: #070709;

$Normal-White-Text: #b7b7c7;
$Light-White-Text: #eaebff;
$Dark-White-Text: #6d6e78;

$Padding-Normal: 4px;

$Radius-Normal: 6px;

$Large-Font-Size: 32px;
$Normal-Font-Size: 18px;
