$Normal-Accent: #012fcc;
$Light-Accent: #3771ff;
$Dark-Accent: #001b83;

$Normal-Background: #ffe5e5;
$Light-Background: #c7b3b2;
$Dark-Background: #786b6a;

$Normal-Secondary: #19c800;
$Light-Secondary: #63ff56;
$Dark-Secondary: #0b7900;

$Normal-Red: #ca0034;
$Light-Red: #ff5663;
$Dark-Red: #7f001d;

$Normal-Black-Text: #272730;
$Light-Black-Text: #656578;
$Dark-Black-Text: #070709;

$Normal-White-Text: #b7b7c7;
$Light-White-Text: #eaebff;
$Dark-White-Text: #6d6e78;

$Padding-Normal: calc(max(min(1vw, 4px), 2px));

$Radius-Normal: 6px;

$Large-Font-Size: calc(max(min(6vw, 32px), 14px));
$Normal-Font-Size: calc(max(min(3vw, 18px), 8px));

$Normal-Transition: ease-out;
$Normal-Timing: 75ms;
$Long-Timing: 200ms;
