$Normal-Accent: #2447bc;
$Light-Accent: #3360f7;
$Dark-Accent: #132974;

$Normal-AccentBG: #bcc8e3;

$Normal-Background: #e3d8b6;
$Light-Background: #f6ebc6;
$Dark-Background: #aca389;

$Normal-Secondary: #40b746;
$Light-Secondary: #59f761;
$Dark-Secondary: #226c26;

$Normal-Red: #af3843;
$Light-Red: #e44c5a;
$Dark-Red: #712129;

$Normal-Black-Text: #272730;
$Light-Black-Text: #656578;
$Dark-Black-Text: #070709;

$Normal-White-Text: #b7b7c7;
$Light-White-Text: #eaebff;
$Dark-White-Text: #6d6e78;

$Normal-Yellow: #e3bd3e;
$Normal-Magenta: #af386f;

$Padding-Normal: calc(max(min(1vw, 4px), 2px));

$Radius-Normal: 6px;

$Normal-Spacing: 4px;

$Large-Font-Size: calc(max(min(6vw, 32px), 14px));
$Normal-Font-Size: calc(max(min(3vw, 18px), 8px));

$Normal-Transition: ease-out;
$Normal-Timing: 75ms;
$Long-Timing: 200ms;
