{{ define "headMain"}}
{{ $homeStyle := resources.Get "scss/home.scss" | css.Sass | resources.Minify}}
<link rel="stylesheet" href="{{$homeStyle.Permalink}}">
{{end}}

{{ define "bodyBeforeMain"}}

<div class="heading">
    <h1>BISC Public Speaking Club</h1>
    <p>Crafting speakers, Creating leaders</p>

    <p class="introduction">The BISC Public Speaking Club hosts thought-provoking and engaging sessions every 2nd week
        at Bangladesh
        International School and College, Moakhali DOHS, Dhaka. The main activities of the club include providing
        speakers of all skill levels an opportunity to interact and gain live feedback from an attentive audience,
        discussing current events and trends, exploring the use of different mediums in association with public speaking
        and providing students with a platform to practice English speeches in a safe and nonjudgmental environment.
    </p>
</div>

{{end}}

{{ define "bodyMain"}}

<div class="festNotice">
    <div class="header">
        <h2>
            The BISC LIT FEST 2025 is Here</h2>
    </div>

    <p class="description">
        Attention, word nerds, stage divas, debate champions, and anyone who's ever tried to explain a song's meaning!
        Welcome to BISC LIT FEST 2025. This isn't just a festival; it's a dynamic platform for literary skill
        development. In today's rapidly evolving world, the ability to communicate effectively, think critically, and
        engage creatively is paramount. Over the next few days, we're igniting imaginations with captivating author
        talks, electrifying panel discussions, activities that'll unleash you inner writer, and vibrant performances
        that bring stories to life. This festival will provide invaluable opportunities for students to refine their
        writing, expand their analytical abilities, and cultivate a deeper appreciation for the power of expression. Our
        goal is to foster a community of well- rounded individuals who can communicate effectively, think critically,
        and express themselves with confidence and artistry. So, let's turn the page together and embark on an
        unforgettable adventure through the boundless realm of literature.
    </p>

    <div class="timerCard">
        <div class="timer">
            <p>Time Remaining</p>
            <h2 id="timeRemaining">20:20:20</h2>
        </div>

        <div class="buttons">
            <a href="pages/fest">Learn More</a>
            <a href="pages/registration">Register</a>
        </div>

    </div>

    <script>
        function formatTime(epoch) {
            epoch = epoch / 1000
            let seconds = `${Math.floor(epoch % 60)}`;
            let minutes = `${Math.floor(epoch % 3600 / 60)}`;
            let hours = `${Math.floor(epoch % 86400 / 3600)}`;
            let days = Math.floor(epoch / 86400);

            seconds = seconds.padStart(2, '0');
            minutes = minutes.padStart(2, '0');
            hours = hours.padStart(2, '0');

            return `${days}:${hours}:${minutes}:${seconds}`
        }

        var timer = document.getElementById("timeRemaining");

        function updateTimer() {
            timer.innerHTML = formatTime(new Date('2025-04-25T24:00:00+06:00').getTime() - Date.now());
        }

        updateTimer();
        setInterval(() => {updateTimer()}, 500);
    </script>

    <div class="images">
        <img src='{{ (resources.Get "images/posterartwork/1.png").Permalink }}'>
        <img src='{{ (resources.Get "images/posterartwork/8.png").Permalink }}'>
        <img src='{{ (resources.Get "images/posterartwork/5.png").Permalink }}'>
        <img src='{{ (resources.Get "images/posterartwork/4.png").Permalink }}'>
        <img src='{{ (resources.Get "images/posterartwork/6.png").Permalink }}'>
        <img src='{{ (resources.Get "images/posterartwork/7.png").Permalink }}'>
    </div>
</div>

{{end}}
